<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--加载消息资源-->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="fileEncodings" value="utf-8"></property>
        <property name="useCodeAsDefaultMessage" value="true"></property>
        <property name="alwaysUseMessageFormat" value="true"></property>
        <property name="basenames">
            <array>
                <value>classpath:i18n/exception</value>
                <value>classpath:i18n/common</value>
            </array>
        </property>

    </bean>

    <mvc:resources mapping="/font/**" location="/WEB-INF/common/font/" order="1"></mvc:resources>
    <mvc:resources mapping="/weblib/**" location="/WEB-INF/weblib/" order="1"></mvc:resources>
    <mvc:resources mapping="/component/**" location="/WEB-INF/common/component/" order="1"></mvc:resources>
    <mvc:resources mapping="*.js" location="/WEB-INF/common/js/" order="9"></mvc:resources>
    <mvc:resources mapping="*.css" location="/WEB-INF/common/css/" order="9"></mvc:resources>
    <mvc:resources mapping="/avator/**" location="/WEB-INF/avator/" order="1"></mvc:resources>

    <!-- Handler配置 -->
    <bean id="handlerMapping"
          class="com.yizhuoyan.shidao.common.web.springmvc.RequestMappingHandlerMappingAdivice">
        <property name="useRegisteredSuffixPatternMatch" value="true"></property>
        <property name="useTrailingSlashMatch" value="false"></property>
        <property name="alwaysUseFullPath" value="true"></property>
        <property name="removeSemicolonContent" value="true"></property>
        <property name="useSuffixPatternMatch" value="false"></property>
        <property name="defaultHandler">
            <bean class="org.springframework.web.servlet.resource.DefaultServletHttpRequestHandler">
            </bean>
        </property>
    </bean>


    <!-- handler适配器 -->
    <bean id="handlerAdapter"
          class="com.yizhuoyan.shidao.common.web.springmvc.RequestMappingHandlerAdapterAdvice">
        <property name="returnValueHandlers">
            <list>
                <bean class="com.yizhuoyan.shidao.common.web.springmvc.JsonResponseReturnValueHandler"></bean>
            </list>
        </property>
    </bean>

    <!-- 异常处理器 -->
    <bean id="handlerExceptionResolver"
          class="com.yizhuoyan.shidao.common.web.springmvc.JsonResponseExceptionResolver">
    </bean>






    <!-- 数据库配置 -->
    <context:property-placeholder

            local-override="true" trim-values="true" system-properties-mode="ENVIRONMENT" file-encoding="utf-8" location="classpath:system.properties"/>
    <!-- 配置数据源 -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>


    <tx:annotation-driven mode="proxy"  proxy-target-class="false" transaction-manager="transactionManager"></tx:annotation-driven>


    <context:component-scan
            base-package="com.yizhuoyan.shidao"/>
</beans>