.pad {
    padding: 15px;
}
.gap{
    padding: 5px;
}


.padh {
    padding-left: 15px;
    padding-right: 15px;
}
.gaph{
    padding-left: 5px;
    padding-right: 5px;
}
.gapv{
    padding-top: 5px;
    padding-bottom: 5px;
}
.gap-left{
    padding-left: 5px;
}
.gap-right{
    padding-right: 5px;
}

.padv {
    padding-top: 15px;
    padding-bottom: 15px;
}

.hcenter {
    text-align: center;
}

.margin {
    margin: 15px;
}

.margin-h {
    margin-left: 15px;
    margin-right: 15px;
}

.margin-v {
    margin-top: 15px;
    margin-bottom: 15px;
}
.small-font{
    font-size: 80%;
}
.disabled{
    background: #F0FFFF !important;
    color: #808080; !important;
}




