.layout-vbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}


.layout-vbox > * {
    flex: 0 0 auto;
}


.layout-vbox > .layout-box-grow {

    flex: 1 1 auto;

}

